<div class="flex items-center justify-center h-full">
  <div class="bg-white shadow-md w-3/5 h-1/5 rounded-3xl p-5" >
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <p>asdfasdf{{ livro }}</p>
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="titulo"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Titulo</label
                >
                <input
                  type="text"
                  id="titulo"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="titulo"
                  formControlName="titulo"
                />
              </div>
        
              <div>
                <label
                  for="categoria"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Categoria</label
                >
                <input
                  type="text"
                  id="categoria"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="categoria"
                  formControlName="categoria"
                />
              </div>
            </div>
        
            <button
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Submit
            </button>
            <button
              class="text-white ml-2 bg-red-500 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              (click)="closeModal()"
            >
              Close
            </button>
          </form>
    </div>
</div>